:root{
  --baseNumber: 4;
  --core-number-0: 0px;
  --core-number-px:	1px;
  --core-number-0_5: calc(var(--base-number) * .5)rem;
  --core-number-1:	calc(var(--base-number) * 1)rem;
  --core-number-1_5: calc(var(--base-number) * 1.5)rem;
  --core-number-2: calc(var(--base-number) * 2)rem;
  --core-number-2_5: calc(var(--base-number) * 2.5)rem;
  --core-number-3: calc(var(--base-number) * 3)rem;
  --core-number-3_5: calc(var(--base-number) * 3.5)rem;
  --core-number-4:	calc(var(--base-number) * 4)rem;
  --core-number-5: calc(var(--base-number) * 5)rem;
  --core-number-6: calc(var(--base-number) * 6)rem;
  --core-number-7: calc(var(--base-number) * 7)rem;
  --core-number-8:	calc(var(--base-number) * 8)rem;
  --core-number-9: calc(var(--base-number) * 9)rem;
  --core-number-10: calc(var(--base-number) * 10)rem;
  --core-number-11: calc(var(--base-number) * 11)rem;
  --core-number-12:	calc(var(--base-number) * 12)rem;
  --core-number-14:	calc(var(--base-number) * 14)rem;
  --core-number-16:	calc(var(--base-number) * 16)rem;
  --core-number-20:	calc(var(--base-number) * 20)rem;
  --core-number-24:	calc(var(--base-number) * 24)rem;
  --core-number-28:	calc(var(--base-number) * 28)rem;
  --core-number-32:	calc(var(--base-number) * 32)rem;
  --core-number-36:	calc(var(--base-number) * 36)rem;
  --core-number-40:	calc(var(--base-number) * 40)rem;
  --core-number-44:	calc(var(--base-number) * 44)rem;
  --core-number-48:	calc(var(--base-number) * 48)rem;
  --core-number-52:	calc(var(--base-number) * 52)rem;
  --core-number-56:	calc(var(--base-number) * 56)rem;
  --core-number-60:	calc(var(--base-number) * 60)rem;
  --core-number-64:	calc(var(--base-number) * 64)rem;
  --core-number-72:	calc(var(--base-number) * 72)rem;
  --core-number-80:	calc(var(--base-number) * 80)rem;
  --core-number-96:	calc(var(--base-number) * 96)rem;
}
