@import "./styleProperties";


:root{
  border: 2px solid darkorange;
}

@each $value in $flexShrinkGrowValues {
  .compass-fs-#{$value} {
    flex-shrink: var(--flex-shrink);
  }
  .compass-fs-#{$value} {
    --flex-shrink: #{$value};
  }
}

