@import "./styleProperties";


:root{
  border: 2px solid darkorange;
}

@each $value in $flexShrinkGrowValues {
  .compass-fg-#{$value} {
    flex-grow: var(--flex-grow);
  }
  .compass-fg-#{$value} {
    --flex-grow: #{$value};
  }
}

