@import "./styleProperties";
@import "./stringReplaceFunction";
@import "./spacing";
$insetValues: append($coreSpacingScale,$auto,comma);



// Generate classes for size values
// TODO: Need to choose this way or by changing variables across all global style configSettings.

@each $value in $insetValues {

  .compass-inset-#{$value} {
    inset: var(--inset);
    top: var(--top);
    right: var(--right);
    bottom: var(--bottom);
    left: var(--left);
  }
  .compass-inset-#{$value} { inset: var(--spacing-#{$value}); }
  .compass-inset-x-#{$value} { left: var(--spacing-#{$value}); right: var(--spacing-#{$value}); }
  .compass-inset-y-#{$value} { top: var(--spacing-#{$value}); bottom: var(--spacing-#{$value}); }
  .compass-start-#{$value} { inset-inline-start: var(--spacing-#{$value}); }
  .compass-end-#{$value} { inset-inline-end: var(--spacing-#{$value}); }
  .compass-top-#{$value} { top: var(--spacing-#{$value}); }
  .compass-right-#{$value} { right: var(--spacing-#{$value}); }
  .compass-bottom-#{$value} { bottom: var(--spacing-#{$value}); }
  .compass-left-#{$value} { left: var(--spacing-#{$value}); }
}

// Generate classes for fractional values
@each $key, $value in $fractionalUnits {
  $safe-key: str-replace($key, '/', '--'); // Replace / with --
  .compass-inset-#{$safe-key} { inset: $value; }
  .compass-inset-x-#{$safe-key} { left: $value; right: $value; }
  .compass-inset-y-#{$safe-key} { top: $value; bottom: $value; }
  .compass-start-#{$safe-key} { inset-inline-start: $value; }
  .compass-end-#{$safe-key} { inset-inline-end: $value; }
  .compass-top-#{$safe-key} { top: $value; }
  .compass-right-#{$safe-key} { right: $value; }
  .compass-bottom-#{$safe-key} { bottom: $value; }
  .compass-left-#{$safe-key} { left: $value; }
}

