@import "./coreSizes";
@import "./spacing";
$auto: auto;
$marginValues: append($coreScaleKeys, "auto", comma);

:root{
  border: 2px solid red;
}

@each $size in $marginValues {
  //// Initial Set
  //.compass-m-#{$size} {
  //  //margin-top: var(--margin-top-override, var(--margin-top));
  //  //margin-right: var(--margin-right-override, var(--margin-right));
  //  //margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  //  //margin-left: var(--margin-left-override, var(--margin-left));
  //  margin-top: var(--margin-top);
  //  margin-right: var(--margin-right);
  //  margin-bottom: var(--margin-bottom);
  //  margin-left: var(--margin-left);
  //}
  // All sides
  .compass-m-#{$size} {
    --margin-top: var(--spacing-#{$size});
    --margin-right: var(--spacing-#{$size});
    --margin-bottom: var(--spacing-#{$size});
    --margin-left: var(--spacing-#{$size});
  }
  .-compass-m-#{$size} {
    --margin-top: calc(-1 * var(--spacing-#{$size}));
    --margin-right: calc(-1 * var(--spacing-#{$size}));
    --margin-bottom: calc(-1 * var(--spacing-#{$size}));
    --margin-left: calc(-1 * var(--spacing-#{$size}));
  }

  // Horizontal (Left and Right)
  .compass-mx-#{$size} {
    --margin-left: var(--spacing-#{$size});
    --margin-right: var(--spacing-#{$size});
  }
  .-compass-mx-#{$size} {
    --margin-left: calc(-1 * var(--spacing-#{$size}));
    --margin-right: calc(-1 * var(--spacing-#{$size}));
  }

  // Vertical (Top and Bottom)
  .compass-my-#{$size} {
    --margin-top: var(--spacing-#{$size});
    --margin-bottom: var(--spacing-#{$size});
  }
  .-compass-my-#{$size} {
    --margin-top: calc(-1 * var(--spacing-#{$size}));
    --margin-bottom: calc(-1 * var(--spacing-#{$size}));
  }

  // Individual Sides
  .compass-mt-#{$size} { --margin-top: var(--spacing-#{$size}); }
  .-compass-mt-#{$size} { --margin-top: calc(-1 * var(--spacing-#{$size})); }

  .compass--me-#{$size} { --margin-right: var(--spacing-#{$size}); }
  .-compass--me-#{$size} { --margin-right: calc(-1 * var(--spacing-#{$size})); }

  .compass-mb-#{$size} { --margin-bottom: var(--spacing-#{$size}); }
  .-compass-mb-#{$size} { --margin-bottom: calc(-1 * var(--spacing-#{$size})); }

  .compass--ms-#{$size} { --margin-left: var(--spacing-#{$size}); }
  .-compass--ms-#{$size} { --margin-left: calc(-1 * var(--spacing-#{$size})); }
}
