@import "./styleProperties";
@import "./spacing";
$paddingValues: $coreSpacingScale;
:root{
  border: 2px solid red;
}

//@import "../../../src/styles/breakpoints";
//:root {
//  --padding-compact: 0;
//  --padding-medium: 0;
//  --padding-expanded: 0;
//
//
//  @include compact {
//    --padding-top: --padding-compact;
//    --padding-right: --padding-compact;
//    --padding-bottom: --padding-compact;
//    --padding-left: --padding-compact;
//  }
//
//  @include medium {
//    --padding-top: --padding-medium;
//    --padding-right: --padding-medium;
//    --padding-bottom: --padding-medium;
//    --padding-left: --padding-medium;
//  }
//  @include expanded {
//    --padding-top: --padding-expanded;
//    --padding-right: --padding-expanded;
//    --padding-bottom: --padding-expanded;
//    --padding-left: --padding-expanded;
//  }
//
//}
//.p{
//  padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
//}

@each $size in $paddingValues {
  // Set Initial Values
  .compass-p-#{$size} {
    //padding-top: var(--padding-top-override, var(--padding-top));
    //padding-right: var(--padding-right-override, var(--padding-right));
    //padding-bottom: var(--padding-bottom-override, var(--padding-bottom));
    //padding-left: var(--padding-left-override, var(--padding-left));
    padding-top: var(--padding-top);
    padding-right: var(--padding-right);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
  }

  // All sides
  .compass-p-#{$size} {
    --padding-top: var(--spacing-#{$size});
    --padding-right: var(--spacing-#{$size});
    --padding-bottom: var(--spacing-#{$size});
    --padding-left: var(--spacing-#{$size});
  }
  .-compass-p-#{$size} {
    --padding-top: calc(-1 * var(--spacing-#{$size}));
    --padding-right: calc(-1 * var(--spacing-#{$size}));
    --padding-bottom: calc(-1 * var(--spacing-#{$size}));
    --padding-left: calc(-1 * var(--spacing-#{$size}));
  }

  // Horizontal (Left and Right)
  .compass-px-#{$size} {
    --padding-left: var(--spacing-#{$size});
    --padding-right: var(--spacing-#{$size});
  }
  .-compass-px-#{$size} {
    --padding-left: calc(-1 * var(--spacing-#{$size}));
    --padding-right: calc(-1 * var(--spacing-#{$size}));
  }

  // Vertical (Top and Bottom)
  .compass-py-#{$size} {
    --padding-top: var(--spacing-#{$size});
    --padding-bottom: var(--spacing-#{$size});
  }
  .-compass-py-#{$size} {
    --padding-top: calc(-1 * var(--spacing-#{$size}));
    --padding-bottom: calc(-1 * var(--spacing-#{$size}));
  }

  // Individual Sides
  .compass-pt-#{$size} { --padding-top: var(--spacing-#{$size}); }
  .-compass-pt-#{$size} { --padding-top: calc(-1 * var(--spacing-#{$size})); }

  .compass--pe-#{$size} { --padding-right: var(--spacing-#{$size}); }
  .-compass--pe-#{$size} { --padding-right: calc(-1 * var(--spacing-#{$size})); }

  .compass-pb-#{$size} { --padding-bottom: var(--spacing-#{$size}); }
  .-compass-pb-#{$size} { --padding-bottom: calc(-1 * var(--spacing-#{$size})); }

  .compass--ps-#{$size} { --padding-left: var(--spacing-#{$size}); }
  .-compass--ps-#{$size} { --padding-left: calc(-1 * var(--spacing-#{$size})); }
}
