// TODO: Not sure if we will need custom properties or tokens for these values

.compass-position-static {
  position: static;
}

.compass-position-absolute {
  position: absolute;
}

.compass-position-relative {
  position: relative;
}

.compass-position-fixed {
  position: fixed;
}

.compass-position-sticky {
  position: sticky;
}
