.HeroSection{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 100%
};

.HeroContainer{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  width: 100%
}
