.HeroSection{
  border: 2px solid black;
  min-height: 100dvh;
  flex-grow: 1;
};

.HeroContainer{
  //border: 2px solid red;
  //display: flex;
  //flex-direction: column;
  //width: 100%;
  padding: var(--spacing-4);
}
