.HeroSection{
  border: 2px solid black;
  //min-height: 100dvh;
  flex-grow: 1;
};


.cta{
  margin-top: var(--spacing-4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-4) var(--spacing-6);
}
