@import "./styles/reset.scss";
@import "./compass-style-dictionary/dist/index.css";

:root {
    --container-1: 448px;
    --container-2: 688px;
    --container-3: 880px;
    --container-4: 1136px;
    --container-5: 1344px;
    --container-6: 1440px;
    --container-7: 1600px;
    --container-8: 1920px;
    --container-9: 2560px;
    --container-10: 2880px;
}


/*@import "./styles/breakpoints.scss";*/
/*@import "./styles/scalingFactor.scss";*/
/*@import "./styles/spacing.scss";*/
/*@import "./styles/margin.scss";*/
/*@import "./styles/padding.scss";*/
/*@import "./styles/padding.scss";*/
/*@import "./styles/padding.scss";*/
/*@import "./styles/position.scss";*/
/*@import "./styles/inset.scss";*/
/*@import "./styles/width.scss";*/
/*@import "./styles/height.scss";*/
/*@import "./styles/flex-grow.scss";*/
/*@import "./styles/flex-shrink.scss";*/
/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
